@*  @{
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Título Aquí</title>

    <!-- Incluir estilos de Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />



    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="/img/hero/hero-4.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Moldea tu cuerpo</span>
                                <h1>Se <strong>fuerte</strong> entrenando duro</h1>
                                <a href="@Url.Action("LogPage", "Home")" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Moldea tu cuerpo</span>
                                <h1>Se <strong>fuerte</strong> entrenando duro</h1>
                                <a href="@Url.Action("LogPage", "Home")" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>¿Por qué elegirnos?</span>
                        <h2>SUPERA TUS LÍMITES</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h4>Equipo moderno</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            dolore facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Plan de nutrición saludable</h4>
                        <p>
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Plan de formación profesional</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            dolore facilisis.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Único a tus necesidades</h4>
                        <p>
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->
    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Nuestras clases</span>
                        <h2>LO QUE PODEMOS OFRECER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-1.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>SOBRE NOSOTROS</span>
                            <h5>Equipo del proyecto</h5>
                            <a href= href="@Url.Action("LogPage", "Home")"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-2.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Roles</span>
                            <h5>Lista de roles</h5>
                            <a href="@Url.Action("LogPage", "Home")"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-3.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Citas</span>
                            <h5>Horario de Citas</h5>
                            <a href="@Url.Action("LogPage", "Home")"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-4.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Ejercicios</span>
                            <h4>Lista de ejercicios</h4>
                            <a href="@Url.Action("LogPage", "Home")"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-5.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Rutinas</span>
                            <h4>Lista de Rutinas</h4>
                            <a href="@Url.Action("LogPage", "Home")"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->
    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="/img/banner-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>Regístrese ahora para obtener más ofertas.</h2>
                        <div class="bt-tips">Donde la salud, la belleza y el fitness se encuentran.</div>
                        <a href="@Url.Action("LogPage", "Home")" class="primary-btn  btn-normal">Cita</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Pricing Section Begin -->
    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Nuestro plan</span>
                        <h2>Elige tu plan de precios</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>Clase sin cita previa</h3>
                        <div class="pi-price">
                            <h2>$ 39.0</h2>
                            <span>CLASE ÚNICA</span>
                        </div>
                        <ul>
                            <li>Conducción gratuita</li>
                            <li>Equipos ilimitados</li>
                            <li>Entrenador personal</li>
                            <li>Clases para bajar de peso</li>
                            <li>Sin restricción de tiempo</li>
                        </ul>
                        <a href="@Url.Action("LogPage", "Home")" class="primary-btn pricing-btn">Enlístate ahora</a>
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>12 Mes ilimitado</h3>
                        <div class="pi-price">
                            <h2>$ 99.0</h2>
                            <span>CLASE ÚNICA</span>
                        </div>
                        <ul>
                            <li>Conducción gratuita</li>
                            <li>Equipos ilimitados</li>
                            <li>Entrenador personal</li>
                            <li>Clases para bajar de peso</li>
                            <li>Sin restricción de tiempo</li>
                        </ul>
                        <a href="@Url.Action("LogPage", "Home")" class="primary-btn pricing-btn">Enlístate ahora</a>
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>6 Mes ilimitado</h3>
                        <div class="pi-price">
                            <h2>$ 59.0</h2>
                            <span>CLASE ÚNICA</span>
                        </div>
                        <ul>
                            <li>Conducción gratuita</li>
                            <li>Equipos ilimitados</li>
                            <li>Entrenador personal</li>
                            <li>Clases para bajar de peso</li>
                            <li>Sin restricción de tiempo</li>
                        </ul>
                        <a href="@Url.Action("LogPage", "Home")" class="primary-btn pricing-btn">Enlístate ahora</a>
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Section End -->
    <!-- Gallery Section Begin -->
    <div class="gallery-section">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="/img/gallery/gallery-1.jpg">
                <a href="/img/gallery/gallery-1.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="/img/gallery/gallery-2.jpg">
                <a href="/img/gallery/gallery-2.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="/img/gallery/gallery-3.jpg">
                <a href="/img/gallery/gallery-3.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="/img/gallery/gallery-4.jpg">
                <a href="/img/gallery/gallery-4.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="/img/gallery/gallery-5.jpg">
                <a href="/img/gallery/gallery-5.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="/img/gallery/gallery-6.jpg">
                <a href="/img/gallery/gallery-6.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
    </div>
    <!-- Gallery Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>Estadio Ricardo Saprissa Aymá</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>+69 666 123</li>
                            <li>+777 25081113</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.hectareasdejeff@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
    <script src="~/js/jquery.barfiller.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>